body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
p{
	color: red;
} 
.bottom-box {
	width: 100%;
	height: 150px;
	background: rgba(0, 0, 255, 0.4);
	margin-top: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: flex-start;
}
.bottom-box a {
	color: red;
}