body {
  margin: 0;
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  margin: 20px;
}

p {
  margin: 20px;
}
.navbar {
  background-color: #2c3e50;
  position: fixed;
  padding: 10px 10px 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.dropdownmenu {
	position:relative;
	font-size: 16px;
display: inline-block;
left: 0;
margin-right: 20px;
}

.dropbtn {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  font-size: clamp(30px, 2vw, 40px);
  border: none;
  cursor: pointer;
}




.dropdown-content {
  display: none;
  position: absolute;   
left: 0;
top: 100%;
  background-color: #2c3e50;
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2px;
  font-size: clamp(13px, 1.5vw, 16px);
  border-radius: 6px;
}
.dropdown-content.show {
	display: block;
}

.dropdown-content a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
  font-size: clamp(14px, 1.2vw, 20px);
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 30px;
}

.submenu {
	position: relative;
	font-size: 16px;
}
.submenu-btn {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: clamp(15px, 1.8vw, 20px);
}

.submenu-content {
  display: none;
  position: relative;
  background-color: #2c3e50;
  min-width: 180px;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
   font-size: 14px;
}
.submenu-content.show {
  display: block;
}


.home-link {
  position: fixed !important;
  top: 10px !important;
  left: 10px !important;
  background-color: red; /* so you can SEE it */
  z-index: 9999;
}
